---
import {Auth} from '@supabase/ui';
import {supabase} from '../lib/supabaseClient';
---
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Auth supabaseClient={supabase} client:load />
	</body>
</html>